/* Enter your custom styles here */

.font250x {
	font-size: 250% !important;
}

.bigLabel {
	font-size: 120% !important;
}

.midLabel {
	font-size: 110% !important;
}


.green {
  color: green !important;
}

.hcolor1 {
 color: black !important;
 font-weight: bold;
}

.hcolor2 {
 color: #9133FF !important;
 font-weight: bold;
}

.hcolor3 {
 color: #333BFF !important;
}


.hcolor4 {
 color: #FF33A1 !important;
}

.hcolor5 {
 color: #FF333B !important;
}

.hcolor6 {
 color: #FF9133 !important;
}

.hcolor7 {
 color: #FFC233 !important;
}

table.blueTable {
  border: 1px solid #1C6EA4;
  background-color: #EEEEEE;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.blueTable td, table.blueTable th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}
table.blueTable tbody td {
  font-size: 13px;
}
table.blueTable tr:nth-child(even) {
  background: #D0E4F5;
}
table.blueTable thead {
  background: #1C6EA4;
  background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  border-bottom: 2px solid #444444;
}
table.blueTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 2px solid #D0E4F5;
}
table.blueTable thead th:first-child {
  border-left: none;
}


.sapUiSizeCompact .sapUxAPBlockContainerTablet, .sapUiSizeCompact .sapUxAPBlockContainerPhone {
	padding:0 !important; 
	margin:0 !important;
}
.sapUiSizeCompact .sapUxAPBlockContainerPhone {
	padding:0 !important; 
	margin:0 !important;
}
.sapUxAPBlockContainerPhone , .sapUiRespGrid.sapUiRespGridHSpace1 {
	padding:0 !important; 
	margin:0 !important;
}

.sapMSplitContainerHideMode>.sapMSplitContainerDetail .sapUiResponsiveMargin, .sapUiResponsiveMargin {
	margin:1rem !important;
}